verbatiminput.py
ISBN.txt
travail.txt
to_be_checked.tex
tikzfile*
tikzFIGLabelFig*.dpth
tikzFIGLabelFig*.nlo
tikzFIGLabelFig*.log
*.log
*.bbl
*.out
*.pyc
*.idx
*.nlo
*.blg
*.toc
*.nls
*.aux
*.auxlock
*.ind
*.ilg
*.bak
*.*~
*.swp
*.synctex.gz
[^0]*-mahze-*.pdf
CorrPytexFile*
0-*.pdf
