## .gitignore for https://github.com/LaurentClaessens/mazhe
# System files
.viminfo
.directory

# Folders
Dépendances/*
vieux_trucs/*

# Useless runtime generated documents
mazhe.html
README.html
core
volumes
ISBN.txt
travail.txt

# Useless Python files
lst_actu.py
lst_num.py
lst_Mactu.py
lst_bctu.py
lst_completion.py
lst_devel.py
lst_ellips.py
lst_futur.py
lst_intro.py
lst_CdI.py
lst_Mactu.py
pytextools.xml

# Ignored LaTeX/PDF files
actu-mazhe_pytex.pdf
actu-mazhe_pytex.tex
CdI-mazhe_pytex.tex
CdI-mazhe_pytex.pdf
agreg-mazhe_pytex.pdf
all-mazhe_pytex.pdf
all-mazhe_pytex.tex
bctu-mazhe_pytex.pdf
bctu-mazhe_pytex.tex
outils_math-outils_pytex.pdf
outils_math-outils_pytex.tex
enseignement-mazhe_pytex.pdf
everything-mazhe_pytex.pdf
futur-mazhe_pytex.pdf
futur-mazhe_pytex.tex
test_couleur-test_couleur.pdf
renomage.pdf
test_couleur.pdf
to_be_checked.tex
corr.tex
garde?.tex
garde?.pdf
mat?.pdf
[^0]*-mahze-*.pdf
CorrPytexFile*
0-*.pdf
*-source-*.tex

# LaTeX garbage files
*.comment
*.log
*.bbl
*.out
*.pyc
*.idx
*.nlo
*.blg
*.toc
*.nls
*.aux
*.auxlock
*.ind
*.ilg
*.synctex.gz

# Backup files (nano, emacs etc)
*bak
*~
*sw[po]
*.py[co]
\#*\#

# TiKZ useless files
tikzfile*
tikzFIGLabelFig*.dpth
tikzFIGLabelFig*.nlo
tikzFIGLabelFig*.log
Inter_*
